<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jhordyabonia.ag"
    android:versionCode="006"
    android:versionName="Levitico">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/twotone_home_white_48" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="fcm_default_channel" />
        <!-- [END fcm_default_channel] -->
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="controllers.AsignaturasView"
            android:icon="@drawable/ic_atras"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".NotificacionesActivity"
            android:icon="@drawable/ic_atras"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".SettingsActivity"
            android:icon="@drawable/ic_atras"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name="crud.AlertaActivity"
            android:icon="@drawable/ic_atras"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name="crud.AsignaturaActivity"
            android:icon="@drawable/ic_atras"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="crud.CalificableActivity"
            android:icon="@drawable/ic_atras"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="crud.LecturaActivity"
            android:icon="@drawable/ic_atras"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name="crud.HorarioActivity"
            android:icon="@drawable/ic_atras"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name="crud.ApunteActivity"
            android:icon="@drawable/ic_atras"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name="crud.Main"
            android:icon="@drawable/ic_atras"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".InformacionActivity"
            android:icon="@drawable/ic_atras"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="chat.ChatActivity"
            android:icon="@drawable/ic_chat_menu" />
        <activity android:name=".RecuperarCuentaActivity" />
        <activity android:name="chat.ListChatActivity" />
        <activity android:name="chat.ProfileActivity" />
        <service
            android:name="util.UploadService"
            android:enabled="true" />
        <service
            android:name="chat.ChatService"
            android:enabled="true" />
        <service
            android:enabled="true"
            android:name="chat.Push">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:name="util.Alarma" />

    </application>

</manifest>